.cdem_header {
  display: grid;
  grid-template-columns: minmax(min-content, 8rem) minmax(10rem, 1fr) minmax(
      min-content,
      4rem
    );
  gap: 2rem;
  align-items: center;
  min-height: 4.5rem;
  z-index: 999;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(158, 158, 158);
  padding: 0.5rem;

  @media screen and (max-width: 900px) {
    gap: 1rem;
  }
  
  .mapleLeaf_header {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      margin: 0rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .mapleLeaf_header:hover {
    cursor: pointer;
  }

  .title_header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #424242;
    flex-wrap: wrap;

    @media screen and (max-width: 900px) {
      gap: 0.5rem;
      font-size: 2rem;
      justify-content: center;
      text-align: center;

      @media screen and (max-width: 600px) {
        gap: 0rem;
        font-size: 1.5rem;
        @media screen and (max-width: 450px) {
          font-size: 1.25rem;
        }
        > span:nth-child(2) {
          margin-left: 0.5rem;
        }
      }
    }

    > span:nth-child(2) {
      color: #fbc02d;
    }
  }
}
