#data_page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .analysis_container {
    display: grid;
    grid-template-columns: 30% 70%;
    color: black;
    padding-top: 1rem;
    margin-bottom: 2rem;
    flex:1;
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }


    .filter_container {
      flex-direction: column;
      display: flex;
      margin-left: 2rem;
      margin-right: 2rem;

      .update_sizing {
        text-overflow: ellipsis;
        // display: grid;
      }

      >* {
        box-sizing: border-box;
      }

      .data_filter_buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }

      button {
        padding: 5px 10px;
        font-size: 14px;
        width: fit-content;
        margin: 5px;
        float: left;
        color: white;
        /* Set buttons to float next to each other */
      }
      .data_processing_radio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    .data_container {
      margin-left: 1rem;
      margin-right: 1rem;
      .data_stats {
        display: flex;
        //flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        p{
          margin-top: 0.125rem;
          margin-bottom: 0.125rem;
        }
        .statistic-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid #ccc;
          padding: 0.5rem;
          margin: 0 0.5rem 0.5rem 0; /* Adjust the margin as needed */
          border-radius: 5px;
          min-width: 10rem;
          background-color: #fbc02d;
          color: white;
          @media screen and (max-width: 1000px) {
            padding: 0.25rem;

          }
        }
        
        .statistic-label {
          font-weight: bold;
        }
        
        .statistic-value {
          margin: 0;
        }
        
      }

    }
  }
}